:root {
  --overlay-text-color: #f4f4fd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}

/* Utility */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1440px;
}

.section {
  padding: 120px 0;
  max-width: 1440px;
  margin: 0 auto;
}

/* HEADER */
.page-header {
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-accent {
  color: #4d5ae5;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link.current {
  color: #404bbf;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* HERO */
.hero {
  padding: 188px 0;
  text-align: center;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/section_hero/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-btn {
  display: inline-block;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ADVANTAGES */
.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  flex-basis: calc((100% - 72px) / 4);
}

.adv-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  padding: 32px 0;
}

.advantages-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
}

.advantages-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* TEAM */
.team {
  background-color: #f4f4fd;
}

.section-title {
  margin: 0 0 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card {
  padding: 32px 0;
  text-align: center;
}

.team-name {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
}

.team-role {
  margin: 0 0 12px;
  color: #434455;
  letter-spacing: 0.02em;
}

.team .social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

/* PORTFOLIO */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  border-top: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus-within {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--overlay-text-color);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0%);
}

/* FOOTER */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-info {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-title {
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer .social-list {
  display: flex;
  gap: 16px;
}

.social-link-footer {
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.footer .social-icon {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===== MODAL BACKDROP ===== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* ===== MODAL WINDOW ===== */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  padding: 40px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* ===== CLOSE BUTTON ===== */
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  border-color: #404bbf;
}

.modal-close svg {
  fill: #2e2f42;
}

/* ===== FORM TITLE ===== */
.form-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
  text-align: center;
}

/* ===== FORM FIELDS ===== */
.form-field {
  display: block;
  margin-bottom: 8px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-wrapper {
  position: relative;
  display: block;
}

.modal-form input,
.modal-form textarea {
  width: 100%;
  padding: 8px 16px 8px 38px;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #2e2f42;

  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form textarea {
  height: 120px;
  resize: none;
  padding-left: 16px;
}

/* ===== INPUT ICON ===== */
.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form input:focus,
.modal-form textarea:focus {
  border-color: #4d5ae5;
}

.modal-form input:focus+.input-icon {
  fill: #4d5ae5;
}

/* ===== CHECKBOX ===== */
.checkbox-field {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 24px;
  gap: 8px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-original {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-custom svg {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-original:checked+.checkbox-custom {
  background-color: #4d5ae5;
  border-color: #4d5ae5;
}

.checkbox-original:checked+.checkbox-custom svg {
  fill: #ffffff;
}

/* ===== SUBMIT BUTTON ===== */
.form-submit {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;

  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;

  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit:hover,
.form-submit:focus {
  background-color: #404bbf;
}

/* === FOOTER SUBSCRIBE FORM === */
.footer-subscribe {
  margin-left: 80px;
}

.footer-subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  width: 264px;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus {
  border-color: #4d5ae5;
}

.footer-btn {
  display: flex;
  align-items: center;
  gap: 16px;

  padding: 8px 24px;
  border: none;
  border-radius: 4px;

  background-color: #4d5ae5;
  color: #ffffff;

  cursor: pointer;
  font-size: 16px;
  font-weight: 500;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}

.footer-btn-icon {
  fill: #ffffff;
}